body{
  background-color: rgb(34, 34, 34);
}
.container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.red{
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 340px;
}